<div id="modal" class="uk-modal uk-open" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Address</h2>

        <form _="on submit take .uk-open from #modal">
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="street_address1" placeholder="Street address Line 1" value="{{ address.street_address1 }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="street_address2" placeholder="Street address Line 2" value="{{ address.street_address2 }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="street_address3" placeholder="Street address Line 3" value="{{ address.street_address3 }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="city" placeholder="City" value="{{ address.city }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="state_province_county" placeholder="State, Province, or County" value="{{ address.state_province_county }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="postal_code" placeholder="Postal Code" value="{{ address.postal_code }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="text" name="country_code" placeholder="Country" value="{{ address.country_code }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="number" name="latitude" placeholder="Latitude" value="{{ address.latitude }}">
            </div>
            <div class="uk-margin">
                <input disabled class="uk-input" type="number" name="longitude" placeholder="longitude" value="{{ address.longitude }}">
            </div>

            <button hx-swap="outerHTML" hx-target="#main" id="submit-button" hx-post="/admin/tables/address/insert" type="button" _="on click take .uk-open from #modal wait 200ms then remove #modal" class="uk-button uk-button-primary">Edit</button>
            <button id="cancel-button" type="button" class="uk-button uk-button-default" _="on click take .uk-open from #modal wait 200ms then remove #modal">Cancel</button>
        </form>
    </div>
</div>