<div id="main">
    <div uk-grid>
        <div class="uk-width-2-3@m">
            <div>
                <h1>{{ table_name }} Records </h1>
            </div>
        </div>

        <div class="uk-width-auto@m">
            <div>
                <button id="insert-button" hx-get="/admin/tables/{{ table_url_name }}/insert" hx-target="#insert-form"
                    class="uk-button uk-button-primary"
                    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">Create
                    {{
                    table_name }}</button>
            </div>
        </div>
    </div>
    <div id="insert-form"></div>

    {% if records %}
    <table class="uk-table uk-table-justify uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for row in records %}
            <tr>
                <td><a hx-get="/admin/tables/{{ table_url_name }}/{{ row.pk }}" hx-push-url="true">{{ row.name|title
                        }}</a>
                </td>
                <td>{{ row.created }}</td>
                <td>{{ row.modified }}</td>
            </tr>
            {% endfor %} {% if next_page %}
            <a hx-get="/admin/tables/{{ table_url_name }}?pg={{ next_page }}" hx-push-url="true"
                class="uk-button uk-button-primary">Next
                page</button>
                {% endif %}
        </tbody>

    </table>
    {% endif %}
</div>