body {
    background-color: #FDF6E3;
}

.htmx-settling img {
    opacity: 0;
}

img {
    transition: opacity 300ms ease-in;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2AA198;
}